.cardItem {
    border: white;
    border-style: solid;
    text-align: left;
    color: white;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    width: 100%;
    background-color: black;
    
}

.centrado{
    width: 50%;
    margin: 0 auto;
}

.imagenes{
    width: 280px;
    height: 280px;
}

