.cardItem {
    border: white;
    border-style: solid;
    text-align: left;
    color: white;
    padding:2px;  
}

.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    width: 100%;
}

.centrado{
    width: 70%;
    margin: 0 auto;
}
