.cardItem {
    border: white;
    border-style: solid;
    text-align: left;
    color: white;
    padding:2px;  
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    width: 90%;
    
}

.centrado{
    width: 70%;
    margin: 0 auto;
}

.imagenes{
    width: 180px;
    height: 210px;
}

