.cardItem {
    border: white;
    border-style: solid;
    text-align: left;
    color: white;
    padding:1%;  
}

.items{
    display:flexbox;
    flex-direction:row;
    align-items: left;
    justify-content:end;
    padding: 1%;
    padding-top: 2%;
    width: 60%;
}

.centrado{
    width: 70%;
    margin: 0 auto;
}

.imagenes{
    width: 180px;
    height: 210px;
}

